<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MultipleSuite">
	<suite-files>
 	  <suite-file path="testingsampleclass.xml"></suite-file>    
  		<suite-file path="nowebdrivertests.xml"></suite-file>
		<suite-file path="testwebpagerunner.xml"></suite-file>
	</suite-files>
</suite>





<!-- <suite name="Suite1" > <parameter name="environment" value="${environment}" 
	/> <listeners> <listener class-name = "com.automationoct.CustomListener" 
	/> </listeners> <test name="Test1" parallel="classes" thread-count="2" > 
	<classes> <class name="com.automationoct.tests.Sample"/> <class name="com.automationoct.tests.EnvironmentTest"/> 
	</classes> </test> <test name="Test2" > <classes> <class name="com.automationoct.tests.Sample"/> 
	<class name="com.automationoct.tests.EnvironmentTest"/> </classes> </test> 
	</suite> -->





